#RewriteEngine on 
#RewriteCond %{HTTP_HOST} ^(?:www\.)prolifel.herokuapp\.com$ [NC]
#RewriteRule ^http://prolifel.com%{REQUEST_URI} [L,R=301]
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteCond %{REQUEST_FILENAME}\.html -f
#RewriteRule ^(.*)$ $1.html [NC,L]

RewriteEngine On
# Redirect to SSL version
# Note: %{HTTP:X-Forwarded-Proto} is specific for Heroku
RewriteCond %{HTTPS} off
RewriteCond %{HTTP:X-Forwarded-Proto} !https 
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]